h1{
    padding: 16px;
}

.perfil-container{
    font-size: 16px;
    padding: 16px;
    margin: 16px;
    border: solid #d11d71 1px;
    border-radius: 15px;
    max-width: 500px;
    min-height:60px;
}

