

<app-header-public></app-header-public>

<!-- si el usuario NO está logueado muestra la cabecera y menu publico -->
@if (!authService.isLogged()) {
  
  <app-menu-public></app-menu-public>
}

<!-- si el usuario SÍ está logueado muestra la cabecera y menu privado -->
@if (authService.isLogged()) {
  
  <app-menu-private></app-menu-private>
}

<!-- router-outlet siempre visible, aquí se renderiza la pagina actual -->
<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- footer siempre visible -->
<app-footer></app-footer>